* {
    margin: 0;
    padding: 0;
}

.validator {
    padding-top: 100px;
    padding-left: 50px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.valid {
    border: 3px solid green;
}

.invalid {
    border: 3px solid red;
}

.error-msg {
    color: red;
    margin: 10px 0;
}